@using System.Web.Mvc.Html
@using EPiServer.Core
@using EPiServer.Globalization
@using EPiServer.Shell
@model BVNetwork.InstantArticles.Models.ViewModels.RssViewModel

@{
    Layout = null;
}
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>@Html.Raw(Model.CurrentPage.RssTitle)</title>
        <link>@UrlUtils.GetExternalUrl(ContentReference.StartPage as ContentReference)</link>
        <description>
            @Html.Raw(Model.CurrentPage.RssDescription)
        </description>
        <language>@ContentLanguage.PreferredCulture.Name</language>
        <lastBuildDate>@{ Html.RenderPartial(@Paths.PublicRootPath + "BVNetwork.InstantArticles/Views/Shared/DateTimeISO8601.cshtml", DateTime.UtcNow); } </lastBuildDate>
        @if (Model.InstantArticles != null)
        {

            foreach (var article in Model.InstantArticles)
            {
                Html.RenderPartial(@Paths.PublicRootPath + "BVNetwork.InstantArticles/Views/Shared/InstantArticleItem.cshtml", article);
            }
        }
    </channel>
</rss>